<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>2</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>3</integer>
	<key>Battery_battery_position</key>
	<integer>1</integer>
	<key>Battery_label_position</key>
	<integer>0</integer>
	<key>Battery_mini_position</key>
	<integer>4</integer>
	<key>Battery_state</key>
	<true/>
	<key>Battery_widget</key>
	<string>label,battery</string>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>0</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_mini_position</key>
	<integer>5</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>1</integer>
	<key>CPU_widget</key>
	<string>tachometer,label</string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>1</string>
	<key>Disk_barChart_position</key>
	<integer>4</integer>
	<key>Disk_label_position</key>
	<integer>3</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>7</integer>
	<key>Disk_pieChart_position</key>
	<integer>1</integer>
	<key>Disk_speed_position</key>
	<integer>6</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>0</integer>
	<key>Disk_widget</key>
	<string></string>
	<key>GPU_barChart_position</key>
	<integer>4</integer>
	<key>GPU_label_position</key>
	<integer>0</integer>
	<key>GPU_lineChart_position</key>
	<integer>2</integer>
	<key>GPU_mini_position</key>
	<integer>3</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>1</integer>
	<key>GPU_widget</key>
	<string>tachometer,label</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>235</real>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>Network_label_position</key>
	<integer>0</integer>
	<key>Network_networkChart_position</key>
	<integer>1</integer>
	<key>Network_speed_position</key>
	<integer>3</integer>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>2</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_widget</key>
	<string>network_chart,label</string>
	<key>RAM_barChart_position</key>
	<integer>4</integer>
	<key>RAM_label_position</key>
	<integer>0</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>6</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_pieChart_position</key>
	<integer>5</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>1</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_widget</key>
	<string>label,tachometer</string>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1762450024</integer>
	<key>updater_check_ts</key>
	<integer>1762681269</integer>
	<key>version</key>
	<string>2.11.58</string>
</dict>
</plist>
